Question-1

In [57]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
data = pd.read_csv("Cutlets.csv")

In [ ]:
data

In [4]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [7]:
data.shape

(35, 2)

In [11]:
cutlet1=pd.Series(data.iloc[:,0])

In [ ]:
cutlet1

In [18]:
cutlet2 = pd.Series(data.iloc[:,1])

In [ ]:
cutlet2

In [25]:
pvalue = stats.ttest_ind(cutlet1,cutlet2)
pvalue=pvalue[1]
pvalue

0.4722394724599501

In [24]:
if pvalue>0.05:
  print("accept null hypothesis")
else:
  print("reject null hypothesis")

accept null hypothesis

Question-2

In [27]:
lab = pd.read_csv("LabTAT.csv")

In [28]:
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [29]:
lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [30]:
lab.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [41]:
p_values = stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])
p_values

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [42]:
pvalues = p_values[1]

In [43]:
if pvalue>0.05:
  print("accept null hypothesis")
else:
  print("reject null hypothesis")

accept null hypothesis

Question-3

In [46]:
buyer = pd.read_csv("BuyerRatio.csv")

In [47]:
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [53]:
data= np.array([[50,142,131,70],[435,1523,1356,750]])

In [60]:
pvalues = chi2_contingency(data)
pvalues

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [61]:
pvalue = pvalues[1]

In [63]:
pvalue

0.6603094907091882

In [64]:
if pvalue>0.05:
  print("accept null hypothesis")
else:
  print("reject null hypothesis")

accept null hypothesis

Question-4

In [65]:
order = pd.read_csv("/content/Costomer+OrderForm.csv")

In [66]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [68]:
order.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [69]:
order.shape

(300, 4)

In [70]:
order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [71]:
order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [72]:
order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [73]:
order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [74]:
buyer = np.array([[271,267,269,280],[29,33,31,20]])

In [75]:
buyer

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [77]:
pvalues = chi2_contingency(buyer)
pvalues

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [79]:
pvalue = pvalues[1]
pvalue

0.2771020991233135

In [80]:
if pvalue>0.05:
  print("accept null hypothesis")
else:
  print("reject null hypothesis")

accept null hypothesis